@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Arcon-Regular';
  src: local('public/font/Arcon-Regular.otf');

}
.bodyContact{
  font-family: "Ubuntu Thin", sans-serif;
  background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
}

.bodyUsual {
  font-family: "Ubuntu Thin", sans-serif;
  background-color: ghostwhite;


}

.login{
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/457/281/non_2x/application-development-concept-software-developer-illustration-flat-line-design-in-geometric-black-and-white-doodle-style-vector-banner-background-or-landing-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.article{
  background-color: white;
}

.front-page a{
  text-decoration: none;
}
.title {
  padding-top: 100px;

}
footer{
  color:black;
  background-color: white;
}
.contactForm{
  background-color: snow;
  margin-top: 200px;
  margin-bottom: 300px;
  width: 40%;
  border-radius: 10px;
  border: solid 1px #D7AD4E;
}
.contactForm form{
  width: 80%;
}

.image-banniere {
  background-image: url("https://images.pexels.com/photos/934062/pexels-photo-934062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.image-banniere-website {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/05/00/19/web-design-2038872_960_720.jpg");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.image-banniere-software {
  background-image: url("https://cdn.pixabay.com/photo/2015/02/05/08/06/macbook-624707_960_720.jpg");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.image-banniere-apps {
  background-image: url("https://support.apple.com/content/dam/edam/applecare/images/en_US/psp/psp-hero-banner-books.image.large_2x.jpg");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.w-img {
  display: grid;
  transition: opacity .8s;
}

.w-img > * {
  grid-area: 1/1/-1/-1;
}

.w-text {
  display: flex;
  justify-content: center;
  align-items: center;
    color: #BA900D;
  opacity: 0;
  transition: opacity .8s;
  text-shadow: black 0.6px 0.6px;
}

.w-text:hover {
  opacity: 1;

}

.w-img:hover {
  opacity: 0.7;
}

.a-img {
  display: grid;
  transition: opacity .8s;
}

.a-img > * {
  grid-area: 1/1/-1/-1;
}

.a-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: BLACK;
  opacity: 0;
  transition: opacity .8s;
}

.a-text:hover {
  opacity: 1;

}

.a-img:hover {
  opacity: 0.7;
}

.s-img {
  display: grid;
  transition: opacity .8s;
}

.s-img > * {
  grid-area: 1/1/-1/-1;
}

.s-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .8s;
}

.s-text:hover {
  opacity: 1;

}

.s-img:hover {
  opacity: 0.7;
}